.img-bg{
  background-image: url(../resources/background.png);
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.form-container img {
  width: 28%;
  height: 22%;
}

.form-container{
  background-color: rgba(255,255,255);
  border-radius: 5px;
}

.containerr {
  background-color: rgba(241,242,246,255);
  width: 100vw;
  height: 100vh;
}

.containerr .navbar text {
  color: white;
}

.navbar {
  background-color: rgba(60,137,187,255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.16);
  width: 100%;
  height: 42px;
}

.notizone-container {
  position: sticky;
  top: 50px;
  box-sizing: border-box;
}

.sidebar .link {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

.sidebar .link:hover {
  color: whitesmoke;
}

.stp-container img, .sidebar img, .navbar img {
  border-radius: 50%;
}

.stp-container input {
  border-radius: 20px;
  padding: 2px;
  padding-left: 15px;
  border: none;
  outline: none;
  width: 100%;
  background-color: rgb(235, 235, 235);
}

.stp-contain {
  border-bottom: 1px solid rgb(235, 235, 235);
}

.stp-container button {
  background-color: white;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 15px;
  text-align: center;
  margin-bottom: 4px;
}

.stp-container button:hover {
  background-color: rgb(235, 235, 235);
}

.stc-header img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50%;
}

.clickable-icon:hover{
  background-color: gray;
  border-radius: 20%;
  cursor: pointer;
}

.post-data{
  justify-content: center;
}

.clickable-icon-dark:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 20%;
  cursor: pointer;
}

.stc-contain img {
  width: 100%; 
}

.stc-interact button {
  width: 50%;
  background-color: white;
  border: none;
  padding: 2px;
  border-top: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235);
}

.stc-interact button:hover {
  background-color: rgba(241,242,246,255);
}

.lp-slideshow,
.lp-slideshow * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.lp-slideshow {
  width: 100%;
}

.lp-slideshow>.container {
  position: relative;
  margin: auto;
  width: 100%;
}

.lp-slideshow>.container>.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  opacity: 0;
  transition: opacity 0.6s ease;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
}

.lp-slideshow>.container>.slide.active {
  opacity: 1;
}

.lp-slideshow>.container>.slide>.image {
  width: 100%;
  height: 100%;
  margin-left: -15px;
  object-fit: cover
}

.lp-slideshow>.container>.slide>.number-text {
  color: #fff;
  font-size: 14px;
  padding: 6px 10px;
  position: absolute;
  top: 0;
}

.lp-slideshow>.container>.slide>.caption-text {
  color: #fff;
  font-size: 1.3rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-left: -15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.lp-slideshow>.container>.prev,
.lp-slideshow>.container>.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 14px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-weight: bold;
  transition: background-color 0.6s ease;
  -webkit-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
}

.lp-slideshow:hover>.container>.prev,
.lp-slideshow:hover>.container>.next {
  background-color: rgba(0, 0, 0, 0.2);
}

.lp-slideshow:hover>.container>.prev:hover,
.lp-slideshow:hover>.container>.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.lp-slideshow>.container>.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.lp-slideshow>.container>.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.lp-slideshow>.dot-container {
  text-align: center;
  margin: 1px auto;
}

.lp-slideshow>.dot-container>.dot {
  height: 5px;
  width: 5px;
  margin: 0 0.4rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  -webkit-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
}

.lp-slideshow>.dot-container>.dot.active,
.lp-slideshow>.dot-container>.dot:hover {
  background-color: #717171;
}

.lp-slideshow>.dot-container>.dot:not(.active):hover, .noti-card {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.16);
}

.fadeOut{
  opacity:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}

.fadeIn{
  opacity:1;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.fragment-body {
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.16);
}